
{% extends 'layout.html' %}

{% block head %}
  	<title>Cambios</title>
{% endblock %}

{% block body %}
{% for row in data %}
	<form action="/cambiarc/{{row.0}}/{{row.1}}/{{row.3}}/{{row.4}}/{{row.5}}" method="POST">
	<input type="text" name="titulo" placeholder="titulo" value="{{row.1}}"><br><br>
	<input type="date" name="fecha" value="{{row.4}}"><br><br>
	<input type="text" name="hora" value="{{row.3}}"><br><br>
	<input type="text" name="descripcion" placeholder="descripcion" value="{{row.5}}"><br><br>
	<input type="submit">
	<td><a href="/cerrar_sesion"><button>Cerrar sesion</button></a></td>
	<td><a href="/ver_perfil"><button>Perfil</button></a></td>
{%endfor%}
</form>

{% endblock %}

